<div class="card m-1">
  <div class="card-img-wrapper">
    <img *ngIf="recipe.image" class="card-img-top" src="assets/images/{{recipe.image}}.png">
    <img *ngIf="!recipe.image" class="card-img-top" src="assets/images/default.png">
    <ul class="list-inline text-center member-icons animate">
      <li class="list-inline-item">
        <button class="btn btn-primary" routerLink="recipe-detail/{{recipe.id}}"><i class="fas fa-info-circle"></i></button>
      </li>
      <li class="list-inline-item">
        <button class="btn btn-primary" routerLink="edit-recipe/{{recipe.id}}"><i class="far fa-address-book"></i></button>
      </li>
    </ul>
  </div>

  <div class="card-body p-2">
        <h4>{{recipe.name}}</h4>
        <h5>{{recipe.type}}</h5>
        <p>{{recipe.author}}</p>
    </div>
</div>
